/* ================
   ================
        RESET
   ================ 
   ================ */
   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

/* ================
   ================
      UTILITIES
   ================ 
   ================ */
.images-list {
    max-width: 56.25rem;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.box {
    width: 80%;
    height: 40%;
}

.image-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: none;
}
.thumbnail-box {
position: relative;
width: 20%;
height: 40%;
}
.thumbnail-container {
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
}

.image-data {
    position: absolute;
    right: 5%;
    bottom: 7%;

    color: white;
    text-align: right;
}

.precedente {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.625rem 0;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 10000;
    top: 0;
    text-align: center;
    line-height: 100%;
}

.prossimo {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.625rem 0;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 10000;
    bottom: 0;
    text-align: center;
    line-height: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ================
   ================
     UTILITIES JS
   ================ 
   ================ */
.mostra {
    display: block;
}

/* ================
   ================
        STYLE
   ================ 
   ================ */
h1,h3 {
    text-shadow: 3px 3px 3px black;
}